.innerNavbarsection{
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100%;
     width: 90vw;
     margin: auto;
}
.innerNavbarsection .profileImage {
     width: 5rem;
}
.innerNavbarsection .logo {
     width: 10rem;
}
.navbarSection{
  
     height: 4rem;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     width: 100%;
}